.chat-box {
  width: 70%;
  border: 1px solid #bbb;
  border-radius: 1rem;
  position: relative;
  h1 {
    text-align: center;
    color: rgb(14, 243, 110);
    text-transform: capitalize;
    font-size: 2rem;
    &::after {
      content: " ----- ";
      color: greenyellow;
    }
    &::before {
      content: " ----- ";
      color: greenyellow;
    }
  }
}
